:root {
  --color: #000;
  --background: #fff;
  --primary: #000;
  --border-radius: 28pt;
  --padding: 13pt;
  --margin: 13pt;
  --sidebar-background: #000;
  --sidebar-color: #fff;
}
.splash {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  align-items: stretch;
}
.dashboard {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  align-items: stretch;
}
.sidebar {
  background: var(---sidebar-background);
  color: var(--sidebar-color);
  display: flex;
  flex-direction: column;

}
.sidebar-section {
  display: flex;
  flex-direction: colunn;
  flex: 1;
  overflow: scroll;
}
.sidebar-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sidebar-group-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}